body {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    color: #6C7279;
    margin: 0;
    -webkit-font-smoothing:antialiased
    /* background-color: #000; */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {

    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
}


.nav__item {
    margin-left: 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
    transition: .1s linear;
}
.nav__item:hover {
    opacity: 1;
}



.intro {
    height: 750px;
    position: relative;
    background: url('./img/intro.jpg') no-repeat center;
    padding-top: 100px;
    background-size: cover;
    text-align: center;
    
}

.intro__inner {
    width: 900px;
    margin: 0 auto;
}

.intro__title {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    font-size: 65px;
    color: #fff;
    
    line-height: 71px;

}

.intro__text {
    margin-top: 25px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom:  80px;
}

.btn {
    
    text-decoration: none;
    color: #fff;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 2px;
    transition: .1s linear;
    text-align: center;
}

.btn--red {
    background-color: #E84545;
}

.btn--red:hover {
    background-color: rgb(206, 52, 52);
}

.btn--long {
    min-width: 280px;
}

.featores__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 110px;
    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    margin-bottom: 50px;
    
}
.features__title {
    font-size: 14px;
    font-weight: 600;
}

.features__icon {
    margin-bottom: 33px;
}

.features__text {
    padding:0 10px;
    line-height: 21px;
    font-size: 14px;
    color: #6C7279;
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content{
    opacity: 1;
}


.works__icon {
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate3d(-50%,-50%,0);
    position: absolute;
}

.works__content {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: rgba(219, 71, 70, .8);
    text-align: center;
    opacity: 0;
    transition: .1s linear;
}

.works__title {
    text-transform: uppercase;
    line-height: 16.8px;
}

.works__text {
    margin-top: 10px;
}

.team__inner {
    display: flex;
    margin: 100px  0 70px 0;
}



.team__item {
    width: 25%;
    margin-left: 28px;
    margin-bottom: 30px;
}

.team__item:first-child {
    
    margin-left: 0;
}

.team__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 22.4px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
}
.team__sphere{
    
    color:#E84545;
    font-size: 13px;
    line-height: 15.6px;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
}

.team__text {
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    font-family: inherit;
}


.social {
    display: flex;
    margin-top: 50px;
}

.social__item {
    height: 40px;
    width: 40px;
    border: 1px solid #E8ECEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.social__item:first-child {
    margin-left: 0;

}

.social__icon {
    fill: #6C7279;
    padding: 11px 11px;
    transition: .1s linear;
}


.social__icon:hover {
    fill: #4f5862;
    padding: 11px 11px;
    
}
.social--footer {
    margin-top: 23px;
    justify-content: center;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;

}
.social--footer .social__icon{
    fill: #FFFFFF;
   
}

/* Reviews  */

.reviews {
    overflow: hidden;
    background-color: #53354A;
   
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    
}

.reviews__photo {
    width: 50%;
    position: relative;
    height: 500px;
    
}
.reviews__img {
    top: 50%;
    right: 0;
    z-index: 1000;
    position: absolute;
    transform: translateY(-50%);
}

.reviews__content {
    padding: 84px;
    width: 50%;    
    left: 0;
    top: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews__text {
    font-family: "Cardo",sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-style: italic;
}

.reviews__author {
    margin-top: 40px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    font-family: inherit;
}

/* Reviews  */

/* Download  */

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    color:#000;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 13px;
}
.download__text {
    font-size: 13px;
    font-weight: 21px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

/* Download  */

/* Footer  */

.footer {
    
    background-color: #3A3E64;
}

.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
}

.footer__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 700;
    color: #fff;
}

address {
    margin-top: 23px;
    font-style: normal;
    color: #8689A0;
    font-size: 14px;
    line-height: 22.5px;
}

.footer__about {
    margin-top: 23px;
    color: #9092A8;
}


.footer__copyright {
    background-color: #313454;
    padding: 25px 0;
    color: #76767A;
    text-align: center;
}

.copyright__name {
    color: #fff;
}

/* Footer  */